* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.column-container {
  display: flex;
  width: 100%;
  height: 100vh;
  min-width: 650px;

  font-family: Arial, sans-serif;
  background-color: #ccd5ae;
}

.column {
  margin: 10px;
  margin-top: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-left {
  margin-top: 25px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-right {
  margin-top: 25px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#temperature-setpoint-submit {
  width: 60px;
  height: 20px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
