* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.column-container {
  display: flex;
  width: 100%;
  height: 100vh;
  min-width: 850px;
  max-width: 2050px;

  font-family: Arial, sans-serif;
  font-size: larger;
  background-color: #ccd5ae;
}

.column {
  margin: 10px;
  margin-top: 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vav-controller {
  margin-top: 25px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-weight: bolder;
}

.container-left {
  margin-top: 25px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.container-right {
  position: absolute;
  width: 300px;
  height: 508px;
  margin-top: 200px;
  margin-left: 100px;
  background-color: #F2DB63;
}

.current-temperature {
  position: absolute;
  margin-top: 40px;
  margin-left: 20px;
}

.temperature-setup {
  position: absolute;
  margin-top: 120px;
  margin-left: 20px;
}

.temperature-change-container {
  position: absolute;
  margin-top: 250px;
  margin-left: 20px;
}

.airflowSetpoint {
  margin-top: 100px;
  align-items: center;
}

.controller-container {
  position: absolute;
  margin-top: 100px;
  margin-left: 0px;
}

#supply-air {
  position: absolute;
  margin-top: 230px;
  margin-left: -400px;
  width: 300px;
  height: 120px;
  background-color: #D9D9D9;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#damper-section {
  position: absolute;
  margin-top: 190px;
  margin-left: -120px;
  width: 430px;
  height: 200px;
  background-color: #D9D9D9;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#downstream-air {
  position: absolute;
  margin-top: 230px;
  margin-left: 310px;
  width: 360px;
  height: 120px;
  background-color: #D9D9D9;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.damper-container {
  position: absolute;
  margin-top: 193px;
  margin-left: 50px;
  width: 10px;
  height: 195px;
  background-color: darkgrey;
  transform: rotate(50deg);
  animation: rotate 20s linear infinite paused;
}

#damper-shaft {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 46%;
  left: 0%;
}

.use-case-container {
  position: absolute;
  margin-top: 520px;
  margin-left: 20px;
}

.button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 350px;
  margin-left: -400px;;
}

.button {
  width: 70px;
  height: 20px;
  margin-bottom: 5px;
}

#reheat-coil {
  position: absolute;
  margin-top: 300px;
  margin-left: 480px;
  width: 20px;
  height: 190px;
  background-color: blue;
}

#current-temperature-number,
#temperature-setup-number {
  font-size: 40px;
}

#airflowSetpoint-number {
  font-size: 50px;
}

#temperature-setpoint-submit {
  width: 60px;
  height: 20px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


